.message-one {
    padding: 30px;
}

h2{
   position: absolute;
   padding: 10px;
   background-color: #C4C4C4 ;
   text-decoration: underline;
}

.message-two{
   padding: 30px;
}

.text-bu{
    padding: 20px;
    font-weight: bold;

}

