<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cactus</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <link rel="stylesheet" href="craditdabit.html">
    <link rel="stylesheet" href="colors_bt5.css">
    <link rel="stylesheet" href="airpaywallet.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light " data-spy="affix" data-offset-top="197" style="background-color: #E7C0B9;">
        <div class="container-fluid ">
            <ul class="navbar-nav active">
                <li class="nav-item "><a href="home.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="cactus.html" class="nav-link">ShopAll</a></li>
                <li class="nav-item"><a href="story.html" class="nav-link">Story</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="help.html" class="nav-link">Help</a></li>
            </ul>
            <a href="home.html" class="navbar-brand "><h4>CACTUS.S</h4></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Notification</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-5">
        <hr color="#000000">
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 " style="margin-left:270px;" >
                    <div class="row">
                        <h3>Address</h3>
                        <div class="col-sm-2 text-start">
                            <p type="name">Name</p>
                            <p type="Number">Call</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <address>Address</address>
                        </div>
                        <div class="col-sm-3 text-center">
                            <a class="link-dark" href="changaddress.html">changs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5 ">
        <hr>
    </div>

    <div class="container mt-5 p-5 bd-gray-300">
        <h3>Producted</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-2 ">
                            <p >Cactus Shop</p>
                            <img src="picture/story1.png" style="width: 150px; height: 150px;">
                        </div>
                        <div class="col-sm-2 product">
                            <p class="t-product">Name  ยิมโนด่าง</p>
                            <p class="t-product">Option : จัดส่งแบบปกติ</p>
                            <p >จะได้รับวันที่  07 กุมภาพันธ์ 2564</p>
                        </div>

                        <div class="col-sm-2 product">
                            <p class="t-product">Price</p>
                            <p>THB450</p>
                            <br></br>
                            <p>Total  1 (หน่วย)</p>
                        </div>
                        <div class="col-sm-2 product">
                            <p class="t-product">Number</p>
                            <p class="ms-4">2</p>
                            <a class="link-dark" href="#">changs</a>
                            <br></br>
                            <p> THB 450 </p>
                        </div>
                        <div class="col-sm-2 product">
                            <p class="t-product">Total</p>
                            <p class="">THB 450</p>
                            <p>THB 80</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5" style="margin-left: 100px;">
        <div>
            <p>Payment mathod</p>
        </div>
        <div class="payment">
            <a href="airpaywallet.html" style="text-decoration: none;">
                <span class="badge rounded-pill payment-item text-dark me-2 ">Airpay wallet</span>
            </a>
            <a href="craditdabit.html" style="text-decoration: none;">
                <span class="badge rounded-pill payment-item text-dark me-2 linear">Credit/Dabit</span>
            </a>
            <a href="ibanking.html" style="text-decoration: none;">
                <span class="badge  rounded-pill payment-item text-dark me-2">iBanking/Mobile</span>
            </a>
            <a href="cashondelivery.html" style="text-decoration: none;">
                <span class="badge  rounded-pill payment-item text-dark me-2">ชำระเงินปลายทาง</span>
            </a>
        </div>
    </div>
    <div class="container mt-3">
        <div class="container">
            <p>เลือกบัญชีการชำระเงิน</p>
            <button type="button" class="btn btn0 btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                เพิ่มบัตร
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="add-credit" id="staticBackdropLabel">เพิ่ม Credit / Dabit Grad</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3">
                                    <label for="FormControlInput1" class="form-label"></label>
                                    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="ชื่อที่ปรากฏบนบัตร">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlText" class="form-label"></label>
                                    <input type="text"class="form-control" id="exampleFormControlName" placeholder="หมายเลขบัตรเครดิต"></input>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlDate" class="form-label">วันหมดอายุ</label>
                                    <input type="date"class="form-control" id="exampleFormControlDate"></input>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlCvv" class="form-label">CVV</label>
                                    <input type="text"class="form-control" id="exampleFormControlCvv" placeholder="000"></input>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlAddress" class="form-label"></label>
                                    <textarea class="form-control" id="exampleFormControlAddress" rows="3" placeholder="ที่อยู่"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlPostcode" class="form-label"></label>
                                    <input type="text"class="form-control" id="exampleFormControlPostcode" placeholder="ไปรษณีย์"></input>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn1 ">Confirm</button>
                            <button type="button" class="btn btn1 " data-bs-dismiss="modal">Cancle</button>
                            
                        </div>
                    </div>
                </div>
             </div>
        </div>
        
        <div class="total text-end">
            <p>Total 450 THB</p>
            <p>Option 80 THB</p>
            <p>Paid 530 THB</p>
            <button class="btn1 btn-pink-200" type="submit">Confirm</button>
        </div>
    </div>   
    



    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>